
#navbar ul li{
    color: white;
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    background-color: black;
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    border: 2px solid rebeccapurple;
}
#navbar ul li a:hover{
    color: black ;
    background-color: white;
    
}